*,
*::after,
*::before {
  box-sizing: border-box;
}

.EmptyWorkouts,
.modalForm {
  margin: auto;
  width: 91%;
  margin-top: 51px;
}

.form-outline {
  display: flex;
}

.centerButton {
  display: flex;
  justify-content: center;
}

.workoutAddButton:hover {
  color: yellow;
}

.cardContent {
  background-image: linear-gradient(red, yellow);
  text-align: center;
}

.EmptyWorkouts {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 50vh;
}

.modalForm {
  margin-top: 50px;
  margin-bottom: 50px;
}

.newWorkout {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../../public/images/cubes.png");
}

#LandingCard {
  background-image: url("https://media.istockphoto.com/photos/dumbbells-on-stand-in-gym-picture-id912113272?k=20&m=912113272&s=612x612&w=0&h=Pw0NPJuUYB3TbwlaB7GVjALyi1vNs6hZdTBswPLPu3s=");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding-bottom: 63px;
  height: 70vh;
  min-width: 90%;
  margin: 0 auto;
}

.registration-box {
  display: flex;
}

.card-title {
  color: orange;
}

.login-card {
  background-image: url("../../../public/images/cubes.png");
}

/* landing page styles */

.makeStyles-card-6 {
  width: 50%;
}

.MuiPaper-root {
  background-image: linear-gradient(#ff9100, rgb(255, 255, 255));
  padding: 0;
  margin: 0;
}
div.MuiCardContent-root:hover {
  border: #fff 3px solid;
  border-radius: 8px;
}

div.MuiCardContent-root {
  height: 100%;
  position: relative;
  padding: 0;
  padding-left: 0;
  padding-top: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.MuiCardContent-root h2 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  display: block;
  min-width: 100%;
  margin: 0;
}

@media only screen and (min-width: 480px) {
  #LandingCard {
    flex-direction: row;
    justify-content: center;
    align-content: center;
  }

  .MuiPaper-root {
    width: 50%;
  }
  .MuiPaper-root p {
    display: block;
    width: 100%;
  }

  .MuiPaper-root {
    max-width: 33%;
    max-height: 20%;
    /* flex: 1; */
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
  }

  .MuiCardContent-root {
    padding: 0;
  }
}
