.EmptyWorkouts,
.modalForm {
  margin: auto;
  width: 50%;
}

.form-outline {
  display: flex;
}

.centerButton {
  display: flex;
  justify-content: center;
}

.workoutAddButton:hover {
  color: yellow;
}

.cardContent {
  background-image: linear-gradient(red, yellow);
}

.EmptyWorkouts {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 50vh;
}

.modalForm {
  margin-top: 50px;
  margin-bottom: 50px;
}

.newWorkout {
  display: flex;
  flex-direction: column;
  align-items: center;
}
