.navbar {
  display: flex;
  justify-content: space-between;
  /* background-image: linear-gradient(#ffea00, transparent); */
  background-color: yellow;
  padding: 1rem;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;
}
/* 
.navbar > div {
  flex: 1;
} */

.brand {
  font-size: 2rem;
  font-family: "Sarpanch", sans-serif;
  font-weight: 800;
  letter-spacing: -1px;
  text-decoration: none;
}

.dumbbell {
  font-family: "Major Mono Display", monospace;
  padding-left: 7px;
  font-size: 2.2rem;
  text-decoration: none;
}
