.navbar {
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(#ff9100, transparent);
  /* background-color: yellow; */
  padding: 1rem;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;
  height: 100px;
}
/* 
.navbar > div {
  flex: 1;
} */

.brand {
  font-size: 2.5rem;
  font-family: "Sarpanch", sans-serif;
  font-weight: 800;
  letter-spacing: -1px;
  text-decoration: none;
  justify-content: flex-start;
}

.dumbbell {
  font-family: "Major Mono Display", monospace;
  padding-left: 7px;
  font-size: 2.8rem;
  text-decoration: none;
}

.menu {
  text-align: right;
  cursor: pointer;
  position: relative;
}

.menu-options {
  position: absolute;
  right: 0;
  background-color: #fff;
  padding: 1rem;
  box-shadow: -2px 2px 4px 4px #eee;
  z-index: 2;
}

.Nav-top-right-container {
  display: flex;
}

.Nav-Menu {
  padding: 12px;
}

.Nav-Menu Button {
  font-size: 1rem;
  font-weight: 500;
  border: none;
  color: #c94803;
}

.Nav-Menu Button:hover {
  border: none;
  color: #333;
  background-color: transparent;
  font-weight: 700;
}

.chevron {
  font-size: 2.5rem;
  padding: 0;
  position: relative;
  top: -0.7rem;
  padding-left: 5px;
}

.item-1 {
  justify-content: flex-start;
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  .item-1 {
    order: -2;
    width: 50%;
    justify-content: flex-start;
  }

  .item-2 {
    order: 2;
  }

  .item-3 {
    order: 3;
  }

  .item-4 {
    order: 4;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .item-1 {
    width: 63%;
    justify-content: flex-start;
  }

  .item-2 {
    order: 2;
  }

  .item-3 {
    order: 3;
  }

  .item-4 {
    order: 4;
  }
}

@media only screen and (min-width: 1025px) {
  .item-1 {
    width: 73%;
    justify-content: flex-start;
  }

  .item-2 {
    order: 2;
  }

  .item-3 {
    order: 3;
  }

  .item-4 {
    order: 4;
  }
} ;
